<p id="notice"><%= notice %></p>

<h1><strong><%= @article.title %></strong></h1>
<%= link_to @article.user do %>
  <span><%= @article.user.username %></span>
<% end %>
<p><%= simple_format(@article.content) %></p>

<h2>Write your comment:</h2>
<%= render 'comments/form' %>

<br>

<% @article.comments.each do |comment|%>
	<article>
	<h3><%= comment.user.username%> said:</h3>
	<p><%= simple_format(comment.content) %></p>
	<% if can? :destroy, comment %>	
	<%= link_to 'Destroy', article_comment_path(@article, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	</article>
<% end %>